.col-content {
    display: grid;
    background-color: rgb(242, 242, 242);
    grid-template-columns: 500px 1.7fr 1fr;

    .col-left {
        position: relative;
        text-align: right;
        margin-right: 20px;
        margin-top: 10px;
        align-items: right;
        justify-content: right;


    }

    .center-content {
        margin-top: 10px;

        .f-search {
            width: 100%;
            height: 40px;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding-left: 10px;
        }

        h2 {
            margin-left: 20px;
            margin-top: 10px;
        }

        .item-menu-center {
            margin-top: 10px;
            padding: 10px;
            border-radius: 15px;
            background-color: #fff;
        }
    }

    .col-right {
        position: relative;
        text-align: left;
        margin-left: 20px;
        margin-right: auto;
    }
}