.col-content {
    display: grid;
    background-color: rgb(242, 242, 242);
    grid-template-columns: 1fr 3fr 1fr;

    .left {
        text-align: right;
        margin-left: auto;
        margin-right: 20px;

        .left-content {
            width: 250px;
            background-color: #fff;
            border-radius: 15px;
            margin-top: 10px;
            padding: 10px 20px;
            align-items: right;
            justify-content: right;
            text-align: left;
        }
    }
}

.col-content-center {
    margin-top: 10px;

    .f-search {
        width: 100%;
    }

    h2 {
        margin-left: 20px;
        margin-top: 10px;
    }

    .item-menu-center {
        margin-top: 10px;
        padding: 10px;
        border-radius: 15px;
        background-color: #fff;
    }
}







// .col-content-left {
//     justify-content: center;
// }



// .c-menu {
//     background-color: #fff;
//     flex-direction: column;
//     padding: 10px 20px;
//     border-radius: 15px;
//     align-items: start;
//     width: 75%;
// }